name: Build

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - '.github/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Upload Artifact
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: spring
          path: app/target/*.jar